<h1 style="text-align:center">Activity Search</h1>
<br />
<h5>Search for something to do by using a keyword (ex. bowling, museum, etc) and location: </h5>
<form action="/Date/Places" method="post">
    <label for="zip">Zip Code:</label><br />
    <input type="text" id="zip" name="zip" minlength="5" maxlength="5" placeholder="zip" /> <br />
    <label for="keyword">Keyword: </label><br />
    <input type="text" id="keyword" name="keyword" placeholder="keyword" /><br />
    <input type="submit" value="submit" />
</form>
