<h1 style="text-align:center">Ice Breakers</h1>

<h3>Jokes</h3>
<p>Nothing helps break the ice like a random joke!  Get a random joke here: 
    <button onclick="location.href='/Date/RandomJokes'">Get Joke</button>