@using DateNight.Models
@model Jokes

<h1 style="text-align:center;color:orange;font-size:400%">Jokes</h1>
<br />

@foreach (Result j in Model.results)
{
    <p>@j.joke</p>
    <hr style="height:2px;border-width:0;color:orange;background-color:orange">
}
<br />

<button onclick="location.href='/Date/MoreJokes?next=@Model.next_page&term=@Model.search_term'" style="background-color:lightblue">Next Page</button>
<button onclick="goBack()" style="background-color:lightblue">Go Back</button>

<script>
    function goBack() {
        window.history.back();
    }
</script>