
<div id="interact-5f7481e0cfc2a70014e96736"></div>
<script type="text/javascript">var app_5f7481e0cfc2a70014e96736; (function (d, t)
{
    var s = d.createElement(t), options = {
        "appId": "5f7481e0cfc2a70014e96736", "width": "800",
        "height": "800", "async": true, "host": "quiz.tryinteract.com", "auto_resize": false, "footer": "show"
    }; s.src = 'https://i.tryinteract.com/embed/app.js'; s.onload = s.onreadystatechange = function ()
    {
        var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
        try {
            app_5f7481e0cfc2a70014e96736 = new InteractApp(); app_5f7481e0cfc2a70014e96736.initialize(options);
            app_5f7481e0cfc2a70014e96736.display();
        } catch (e) { }
    }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>